.collapsible[b-nslmltakfo] {
    line-height: -10px;
    display: none;
    transition: all ease 300ms;
}

collapsible.active[b-nslmltakfo] {
    line-height: 1rem;
    display: unset;
    transition: all ease 300ms;
}

.plus-open_close[b-nslmltakfo] {
    font-size: 1.25rem;
    cursor: pointer;
    transition: all ease 150ms;
    min-width: 10vw;
}

.plus-open_close.active[b-nslmltakfo] {
    color: orangered;
    font-size: 4rem;
}

.option-dropdown[b-nslmltakfo] {
    z-index: 1000;
}
