.page[b-wj8pc1oomi] {
    height:100%;
    width:100%;
    background-color: black;
    background-image: url("/images/new-bg.webp");
    background-size: cover;
    backdrop-filter: blur(8px) grayscale(75%);
}

header[b-wj8pc1oomi] {
    filter: drop-shadow(10px 0px 12px #2376fc);
}

header[b-wj8pc1oomi], footer[b-wj8pc1oomi] {
    width: 100vw;
    min-height: 5rem;
    background-color: #000133;
    color: white;
}

footer[b-wj8pc1oomi] {
    filter: drop-shadow(-10px 0px 12px #2376fc);
}

.josefin[b-wj8pc1oomi] {
    font-family: 'Josefin Sans', sans-serif !important;
    margin-top:1rem;
}

#support[b-wj8pc1oomi] {
    background-color: #1255b6;
    color: white;
    font-weight: bold;
    transition: all linear 250ms;
}

    #support > h6[b-wj8pc1oomi] {
        padding: 0.6rem 0.75rem 0.25rem 0.75rem;
    }

    #support:hover[b-wj8pc1oomi] {
        background-color: #0275d8;
        color: white;
        transition: all linear 250ms;
    }

header > a[b-wj8pc1oomi] {
    text-decoration:none;
}

.footer-link[b-wj8pc1oomi] {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition:all linear 250ms;
}

    .footer-link:hover[b-wj8pc1oomi] {
        color: #78aafc;
        transition: all linear 250ms;
    }

.font-size-100[b-wj8pc1oomi] {
    font-size: 0.85rem;
}