.page[b-wj8pc1oomi] {
    height:100%;
    width:100%;
    background-color: black;
    background-image: url("/images/new-bg.webp");
    background-size: cover;
    backdrop-filter: blur(8px) grayscale(75%);
}

header[b-wj8pc1oomi] {
    filter: drop-shadow(5px 0px 12px #000133);
    background-image: linear-gradient( 315deg, hsl(240deg 100% 20%) 0%, hsl(238deg 100% 19%) 11%, hsl(237deg 100% 18%) 22%, hsl(236deg 100% 17%) 33%, hsl(235deg 100% 16%) 44%, hsl(235deg 100% 15%) 56%, hsl(235deg 100% 13%) 67%, hsl(236deg 100% 12%) 78%, hsl(237deg 100% 11%) 89%, hsl(239deg 100% 10%) 100% );
}

header[b-wj8pc1oomi], footer[b-wj8pc1oomi] {
    width: 100vw;
    min-height: 5rem;
    background-color: #000133;
    color: white;
}

footer[b-wj8pc1oomi] {
    filter: drop-shadow(-5px 0px 12px #000133);
    background-image: linear-gradient( 135deg, hsl(240deg 100% 20%) 0%, hsl(238deg 100% 19%) 11%, hsl(237deg 100% 18%) 22%, hsl(236deg 100% 17%) 33%, hsl(235deg 100% 16%) 44%, hsl(235deg 100% 15%) 56%, hsl(235deg 100% 13%) 67%, hsl(236deg 100% 12%) 78%, hsl(237deg 100% 11%) 89%, hsl(239deg 100% 10%) 100% );
}

.josefin[b-wj8pc1oomi] {
    font-family: 'Josefin Sans', sans-serif !important;
    margin-top:1rem;
}

#support[b-wj8pc1oomi] {
    background-color: #1255b6;
    color: white;
    font-weight: bold;
    transition: all linear 250ms;
}

    #support > h6[b-wj8pc1oomi] {
        padding: 0.6rem 0.75rem 0.25rem 0.75rem;
    }

    #support:hover[b-wj8pc1oomi] {
        background-color: #0275d8;
        color: white;
        transition: all linear 250ms;
    }

header > a[b-wj8pc1oomi] {
    text-decoration:none;
}

.footer-link[b-wj8pc1oomi] {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition:all linear 250ms;
}

    .footer-link:hover[b-wj8pc1oomi] {
        color: #78aafc;
        transition: all linear 250ms;
    }

.font-size-100[b-wj8pc1oomi] {
    font-size: 0.85rem;
}