header[b-wj8pc1oomi], footer[b-wj8pc1oomi] {
    width: 100vw;
    min-height: 5rem;
    background-color: #000133;
    color: white;
}

.josefin[b-wj8pc1oomi] {
    font-family: 'Josefin Sans', sans-serif !important;
    margin-top:1rem;
}

#support[b-wj8pc1oomi] {
    background-color: #0275d8;
    color: white;
    font-weight: bold;
    transition: all linear 250ms;
}

    #support > h6[b-wj8pc1oomi] {
        padding: 0.6rem 0.75rem 0.25rem 0.75rem;
    }

    #support:hover[b-wj8pc1oomi] {
        background-color: #0164f9;
        color: white;
        transition: all linear 250ms;
    }

header > a[b-wj8pc1oomi] {
    text-decoration:none;
}

.footer-link[b-wj8pc1oomi] {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition:all linear 250ms;
}

    .footer-link:hover[b-wj8pc1oomi] {
        color: cornflowerblue;
        transition: all linear 250ms;
    }

.font-size-100[b-wj8pc1oomi] {
    font-size: 0.85rem;
}