body[b-atz1k5bc7p] {
    background-color:white;
    background-image:none;
}

main[b-atz1k5bc7p] {
    width: 80vw;
}

.day-header[b-atz1k5bc7p] {
    font-size:0.75rem;
}

.cell[b-atz1k5bc7p] {
    font-size:0.65rem;
}
