/* _content/BiblePlan/Shared/CreatePlan.razor.rz.scp.css */
.collapsible[b-nslmltakfo] {
    line-height: -10px;
    display: none;
    transition: all ease 300ms;
}

collapsible.active[b-nslmltakfo] {
    line-height: 1rem;
    display: unset;
    transition: all ease 300ms;
}

.plus-open_close[b-nslmltakfo] {
    font-size: 1.25rem;
    cursor: pointer;
    transition: all ease 150ms;
}

.plus-open_close.active[b-nslmltakfo] {
    font-size: 2rem;
}

.book-list[b-nslmltakfo] {
    display:block;
}

.button-wrapper[b-nslmltakfo] {
    display:block;
}

    .button-wrapper > button[b-nslmltakfo] {
        display: inline-flex;
        padding: 0.5rem 1rem;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0.75rem;
        background-color: #1255b6 !important;
        transition: all linear 250ms;
    }

        .button-wrapper > button:hover[b-nslmltakfo] {
            background-color: #0275d8 !important;
            transition: all linear 250ms;
        }

.testament-list[b-nslmltakfo] {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}

@media screen and (min-width: 1000px) {
    .button-wrapper[b-nslmltakfo] {
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    }

        .button-wrapper > button[b-nslmltakfo] {
            margin-bottom: 0;
            margin-right: 0.5rem;
        }

    .testament-list[b-nslmltakfo] {
        flex-direction: row;
    }

    .testament-list > div:first-child[b-nslmltakfo] {
        margin-right: 1rem;
    }

    .book-list[b-nslmltakfo] {
        display:flex;
        flex-direction:row;
        margin-right:0.5rem;
    }
}
/* _content/BiblePlan/Shared/MainLayout.razor.rz.scp.css */
.page[b-wj8pc1oomi] {
    height:100%;
    width:100%;
    background-color: black;
    background-image: url("/images/new-bg.webp");
    background-size: cover;
    backdrop-filter: blur(8px) grayscale(75%);
}

header[b-wj8pc1oomi] {
    filter: drop-shadow(10px 0px 12px #2376fc);
}

header[b-wj8pc1oomi], footer[b-wj8pc1oomi] {
    width: 100vw;
    min-height: 5rem;
    background-color: #000133;
    color: white;
}

footer[b-wj8pc1oomi] {
    filter: drop-shadow(-10px 0px 12px #2376fc);
}

.josefin[b-wj8pc1oomi] {
    font-family: 'Josefin Sans', sans-serif !important;
    margin-top:1rem;
}

#support[b-wj8pc1oomi] {
    background-color: #1255b6;
    color: white;
    font-weight: bold;
    transition: all linear 250ms;
}

    #support > h6[b-wj8pc1oomi] {
        padding: 0.6rem 0.75rem 0.25rem 0.75rem;
    }

    #support:hover[b-wj8pc1oomi] {
        background-color: #0275d8;
        color: white;
        transition: all linear 250ms;
    }

header > a[b-wj8pc1oomi] {
    text-decoration:none;
}

.footer-link[b-wj8pc1oomi] {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition:all linear 250ms;
}

    .footer-link:hover[b-wj8pc1oomi] {
        color: #78aafc;
        transition: all linear 250ms;
    }

.font-size-100[b-wj8pc1oomi] {
    font-size: 0.85rem;
}
/* _content/BiblePlan/Shared/Printable.razor.rz.scp.css */
body[b-atz1k5bc7p] {
    background-color:white;
    background-image:none;
}

main[b-atz1k5bc7p] {
    width: 80vw;
}

.day-header[b-atz1k5bc7p] {
    font-size:0.75rem;
}

.cell[b-atz1k5bc7p] {
    font-size:0.65rem;
}
