@using MudBlazor;
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>BiblePlan</PageTitle>

<div class="page">
    <header class="d-flex align-items-center justify-content-around">
        <h2 class="josefin">CUSTOMBIBLEPLAN.com</h2>
        <a id="support" href="https://venmo.com/ryancornettky">
            <h6>Support the site</h6>
        </a>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer class="d-flex align-items-center justify-content-center">
        <div>
            <h6 class="font-size-100">Built by <a class="footer-link" href="https://linktr.ee/ryancornett">Ryan Cornett</a> | <a class="footer-link" href="https://docs.google.com/forms/d/e/1FAIpQLSeHzGW2UyE6OCmQUQkLGlFTQczhYHohPEBRSLGTXzh4Fwk6bw/viewform?usp=sf_link">Send</a> feedback</h6>
        </div>
    </footer>
</div>