@inherits LayoutComponentBase

<main class="mx-auto">
    <div class="content px-4">
        @Body
    </div>
    <p class="text-center mt-2">CustomBiblePlan.com  |  Built by <a href="http://linktr.ee/ryancornett" class="text-decoration-none fw-bold">Ryan Cornett</a></p>
</main>